.bg-div {
    height: 550px;
    border-radius: 65px;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    text-align: center;
    margin: 0 auto;
}

.title-bp {
    font-size: 3rem;
    padding-top: 15px;
    text-transform: uppercase;
}

.second-title-bp {
    font-size: 3rem;
    padding-top: 15px;
}

.flex-battlepass {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.battlepass {
    height: 300px;
    width: 30%;
    border: 5px white solid;
}
