.title-bpdetails {
    font-size: 4rem;
    margin-top: 25px;
}

.img-bpdetails {
    height: 350px;
    width: 70%;
    margin-top: 25px;
}

.paragraph-bpdetails {
    font-size: 2rem;
    margin-top: 25px;
}

.btn-comment {
    background-color: #F7FF19;
    padding: 10px;
    font-size: 2rem;
    margin-bottom: 20px;
}