.bg-img {
    background-image: url("../../public/assets/images/background_fortnite_3.jpg");
    background-position:center;
    background-size: cover;
    height: 100vh;
}

.block {
    height: 550px;
    border-radius: 65px;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    text-align: center;
    margin: 0 auto;
}

.title-create{
    font-size: 3rem;
    padding-top: 50px;
}

.form-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input{
    font-size: 2rem;
    margin-top: 50px;
    width: 40%;
}


.btn-create{
    background-color: #F7FF19;
    padding: 10px;
    font-size: 3rem;
    width: 30%;
}
