.title-create-bp {
    font-size: 3rem;
    padding-top: 15px;
    text-transform: uppercase;
}

.block-create-bp {
    height: 550px;
    border-radius: 65px;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
}

.create-bp-title {
    width: 80%;
}

.create-bp-text{
    width: 80%;
    margin-top: 15px;
    font-size: 2rem;
    height: 20vh;
}